<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension point="org.eclipse.ui.commands">
    <command
      name="Paste (convert Java to Scala)"
      description="Paste (convert Java to Scala)"
      id="com.github.dnadolny.javatoscala.pasteConvertJavaToScalaCommand"/>
      categoryId="org.eclipse.jdt.ui.category.source"
  </extension>

  <extension point="org.eclipse.ui.bindings">
    <key
      commandId="com.github.dnadolny.javatoscala.pasteConvertJavaToScalaCommand"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
      sequence="M1+M2+V" />
  </extension>

  <extension point="org.eclipse.ui.handlers">
    <handler
      class="com.github.dnadolny.javatoscala.PasteJavaAsScalaCommand"
      commandId="com.github.dnadolny.javatoscala.pasteConvertJavaToScalaCommand">
    </handler>
  </extension>

  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:#CompilationUnitEditorContext?after=paste">
      <command
        commandId="com.github.dnadolny.javatoscala.pasteConvertJavaToScalaCommand"
        id="pasteAsScala"
        label="Paste (convert Java to Scala)"
        mnemonic="c"
        style="push">
        <visibleWhen checkEnabled="false">
          <with variable="activeEditorId">
            <equals value="scala.tools.eclipse.ScalaSourceFileEditor"></equals>
          </with>
        </visibleWhen>
      </command>
    </menuContribution>
  </extension>
  
  <extension point="org.eclipse.ui.popupMenus">
    <objectContribution
      objectClass="org.eclipse.jdt.core.IJavaElement"
      id="com.github.dnadolny.javatoscala.ConvertSelectionAction">
      <visibility>
        <and>
          <or>
            <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
            <objectClass name="org.eclipse.jdt.core.IPackageFragment"/>
            <objectClass name="org.eclipse.jdt.core.IPackageFragmentRoot"/>
          </or>
          <not>
            <objectClass name="scala.tools.eclipse.contribution.weaving.jdt.IScalaCompilationUnit"/>
          </not>
        </and>
      </visibility>
      <action
        label="Convert to Scala"
        class="com.github.dnadolny.javatoscala.convertcu.ConvertCompilationUnitsAction"
        menubarPath="org.eclipse.jdt.ui.refactoring.menu"
        enablesFor="+"
        id="ConvertSelectionAction">
      </action>
    </objectContribution>
  </extension>
      
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.github.dnadolny.javatoscala.PreferencesInitializer"></initializer>
   </extension>
</plugin>
